{% extends 'todo/base.html' %}

{% block content %}
<div class="add_do">
    <div class="title_add_do">
        <h3>Добавление задания<h3>
    </div>

    {% if messages %}
        <div class="flashed_messages">
            {% for msg in messages %}
                <p class="{{ msg.tags }}">
                    {{ msg }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form_add_do">
        <form action="{% url 'add_do' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for f in form %}
                {% if not f.errors %}
                    <div class="input_block">
                        <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
                        {{ f }}
                    </div>
                {% else %}
                    <div class="input_block error">
                        <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
                        {{ f }}

                        <div class="errors_input_block">
                            {% for error in f.errors %}
                                <span class="error">* {{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <button type="submit" id="add_do_btn">Создать задание</button>
        </form>
    </div>
</div>
{% endblock %}